body {
    background-color: #17191a;
    font-family: 'DejaVu Sans Mono';
    text-align: center;
    color :#748485;
    overflow-y: scroll;
}

/* mostly text styling  */
.title {
    color : #e8e4cf;
    font-family: 'DejaVu Sans Mono';
    font-size:"large";
}

.text {
    color :#748485;
    font-family: 'DejaVu Sans Mono';
    font-size: small;
}
.textline {
    color :#bad9db;
    font-family: 'DejaVu Sans Mono';
    font-size: small;
    text-decoration: underline;
}
.highlight {
    color : #c8e2e4;
    font-family: 'DejaVu Sans Mono';
    font-size: small;
}
.highlightlink {
    color : #c8e2e4;
    font-family: 'DejaVu Sans Mono';
    text-decoration: underline;
    font-size: small;
}

.ASCII {
    text-align: center;
    font-size: 70%;
    color: #9cafb1;
    word-wrap: normal;
    white-space: pre;
}



.sidebar {
padding-inline-start: 20px;
}
/* media compatibility for phones */
@media (max-width: 768px) {
    .ASCII {
        font-size: 55%;
    }   
}
